@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,span,em,b,strong,a,ol,ul,li,table,th,tr,td,textarea,input,section,form{padding:0;margin:0;}
body{ font-size:12px; color:#2b2b2b; font-family:"\5FAE\8F6F\96C5\9ED1",Helvetica;  font-size:14px;}
ul,ol,li{list-style:none}
i,cite,em,var,address{font-style:normal}
a,a:link{color:#6db0da;text-decoration:none;}
a:hover,a:active{color:#6db0da;text-decoration:underline;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;} 
* html .clearfix{zoom:1;} /* IE6 */ 
*:first-child+html .clearfix{zoom:1;} /* IE7 */
.hui1{ color:#999;}
.hui2{ color:#666;}
/*滚动条样式重置*/
::-webkit-scrollbar{width:7px;}
::-webkit-scrollbar-track{ background:rgba(242,242,242,1.0); border:1px solid #e1e1e1;}/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0)*/
::-webkit-scrollbar-track:hover{background-color:rgba(191,191,191,1.0); border:1px solid #a1a1a1;}/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);*/
::-webkit-scrollbar-track:active{background-color:rgba(191,191,191,1.0); border:1px solid #a1a1a1;}/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.4);*/
::-webkit-scrollbar-thumb{ background:rgba(255,255,255,1.0); border:1px solid #e1e1e1;}/*-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)*/
::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,1.0); border:1px solid #bebebe;}/*-webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1)*/
::-webkit-scrollbar-thumb:active{background:rgba(255,255,255,1.0); border:1px solid #bebebe;}
/*bg_container*/
#bg_container{position: absolute;left:100px;top:20px;height:;}
#bg_container select{width:60px;height:30px;background:#ccc;}
/*main*/
.main{ width:800px; height:400px; margin:100px auto 0 auto;}
.m-left{ float:left; width:100px; height:400px; background:#272728; background:rgba(0,0,0,0.5); color:#fff; font-size:14px;}
.m-left ul li{ width:100px; height:35px; line-height:35px; text-align:center;}
.m-left ul li a{ display:block; color:#fff}
.m-left ul li a:hover{ display:block; color:#fff; background:#3685ca; text-decoration:none;}
.m-left ul li.cur a{ display:block; color:#fff; background:url(../images/tb1.gif) no-repeat center right;}

.m-right{ float:left; margin-left:20px; display:inline; width:680px; height:400px; background:#fff; background:rgba(255,255,255,0.8); overflow:hidden;}
.per-info{ position:relative; width:590px; padding-right:10px; height:320px; margin:40px 0; float:left; overflow-y:auto;}
.per-info table{ width:600px; font-size:14px;}
.per-info table tbody tr td{ width:300px; height:36px; line-height:36px;}
.per-info .photo{ display:block; position:absolute; top:40px; right:40px;}
.per-info h2{ height:30px; line-height:30px; border-bottom:2px solid #ccc; font-size:16px;margin-bottom:5px;}
.per-info p{line-height:30px;}
#outer{ height:400px; position:relative;}
#inner{ height:3600px; position:absolute; top:0; left:0; padding:0 40px;}